/*===== global styles =====*/
body { 
    font-family: Arial, sans-serif; 
    color: #c366fd; 
    background-color: #f9f9f9; 
    margin: 0; 
    padding: 0; 
    line-height: 1.6; 
}  

/*===== HEADER STYLES ======*/
header{
    background-color:white;
    color:mediumslateblue;
    padding: 20px;
    text-align: center;
} 

header h1{
    margin:0;
}

/* ===== NAVIGATION STYLES ======*/
nav a {
    color: mediumslateblue;
    text-decoration: none;
    margin: 0 10px
}

nav a:hover{
    text-decoration: underline;
}

/*=====MAIN STYLES=====*/
main {
    padding :20px;
    max-width: 800px;
    margin: 0 auto;
}

main img{
    max-width: 100%;
    height:auto;
    display:block;
    margin: 20px 0;
}

/*===== FOOTER STYLES =====*/
footer{
    background-color: white;
    color:mediumslateblue;
    text-align: center;
    padding: 10px; 
    position:fixed;
    bottom:0;
    width:100%;
}

/*====== PARAGRAPHS =====*/
p { 
    font-size: 1.1em; 
} 

a { 
    color: #4CAF50; 
    text-decoration: none; 
} 

/*===== LINK HOVER EFFECT =====*/
a:hover { 
    text-decoration: underline; 
} 

img { 
    border: 5px solid #4CAF50; 
    border-radius: 10px; 
} 

img { 
    border: 5px solid #4CAF50; 
    border-radius: 10px; 
} 

/*===== EMAIL LINK STYLES =====*/
main a[href^="mailto:bida25-313@thuto.bac.ac.bw"] { 
    color: #ff5722; 
    font-weight: bold; 
} 









 
    
